@import "compass/css3";
@import "compass/reset";

@mixin flexbox() {
    display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;      /* OLD: Firefox (buggy) */ 
    display: -ms-flexbox;   /* MID: IE 10 */
    display: -webkit-flex;  /* NEW, Chrome 21+ */
    display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
}
@mixin align-items($align) {
    -webkit-box-align: $align; -moz-box-align: $align;
    -ms-flex-align: $align;
    -webkit-align-items: $align;
    align-items: $align;
}
@mixin justify-content($align) {
    -webkit-box-pack: $align; -moz-box-pack: $align; 
    -ms-flex-pack: $align; 
    -webkit-justify-content: $align;
    justify-content: $align;
}
@mixin keyframes($name) {
    @-webkit-keyframes $name { @content; }
    @-moz-keyframes $name { @content; }
    @-ms-keyframes $name { @content; }
    @keyframes $name { @content; }
}
@mixin animation($params) {
    -webkit-animation: $params;
    -moz-animation: $params;
    -ms-animation: $params;
    animation: $params;
}

*, *:before, *:after {
    @include box-sizing(border-box);
    -webkit-touch-callout: none;        /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;     /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;          /* prevent copy paste, to allow, change 'none' to 'text' */
}
.aqua   { color: #00ffff; }
.white  { color: #ffffff; }
.green  { color: #00ff00; }
.purple { color: #ff00ff; }
.yellow { color: #ffff00; }

body {
    margin: 0;
    padding: 0;
    font: 13px/1.6em optima, arial, sans-serif;
    color: #222;
}
h1, h2 {
    margin: 0;
    display: none;
}
h1 {
    font-family: impact, sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    color: #333;
}
h2 {
    font-family: optima, serif;
    font-weight: 600;
    font-size: 24px;
    color: #bbb;
}
#wrapper {
    position: relative;
    z-index: 1;
    // -webkit-filter: blur(8px) contrast(0.4) brightness(1.4);
    // -webkit-transform: translate3d(0,0,0);
}
#timingBox {
    display: inline-block;
    background-color: black;
    color: white;
    width: 610px;
    min-height: 630px;
    padding: 15px;
}
#livetiming th { padding-bottom: 10px; color: #ccc !important; }
#livetiming th, #livetiming td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipse;
}
#livetiming>tbody>tr>td>span.hidden { visibility: hidden; }
#livetiming>*>tr>*:nth-child(1)  { width:  30px; text-align: right; padding-right: 10px; color: #00ffff; }
#livetiming>*>tr>*:nth-child(2)  { width:  25px; text-align: right; padding-right:  5px; }
#livetiming>*>tr>*:nth-child(3)  { width: 145px; }
#livetiming>*>tr>*:nth-child(4)  { width:  35px; text-align: right; padding-right: 10px; }
#livetiming>*>tr>*:nth-child(5)  { width:  45px; text-align: right; padding-right: 10px; }
#livetiming>*>tr>*:nth-child(6)  { width:  70px; text-align: right; padding-right: 10px; }
#livetiming>*>tr>*:nth-child(7)  { width:  50px; text-align: right; padding-right: 5px; }
#livetiming>*>tr>*:nth-child(8)  { width:  30px; }
#livetiming>*>tr>*:nth-child(9)  { width:  50px; text-align: right; padding-right: 5px; }
#livetiming>*>tr>*:nth-child(10) { width:  30px; }
#livetiming>*>tr>*:nth-child(11) { width:  50px; text-align: right; padding-right: 5px; }
#livetiming>*>tr>*:nth-child(12) { width:  30px; }
#livetiming>*>tr>*:nth-child(13) { width:  20px; text-align: center; }
#livetiming>*>tr>*:nth-child(14) { width:  15px; }
#livetiming>tfoot>tr>td { text-align: left !important; }
#livetiming>tfoot>tr:first-child>td { padding-top: 70px; }
#livetiming>tfoot>tr:last-child>td {
    font-weight: 100;
    font-size: 12px;
    padding-top: 20px;
}
#commentBox {
    display: inline-block;
    background-color: #f5f5f5;
    width: 300px;
    height: 630px;
    border: solid 15px #f5f5f5;
    border-right-width: 5px;
    padding-right: 15px;
    font: 13px/1.6em optima, arial, sans-serif;
    overflow: auto;
    -webkit-overflow-scrolling: touch; // use native scroll in mobile safari
}
#splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,.9);
    z-index: 2;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include animation(show .3s ease);
    &.hidden {
        opacity: 0;
        height: 0;
        @include animation(hide .6s ease);
    }
    &>span {
        display: inline-block;
        background-color: rgba(200,200,200,.9);
        color: #222;
        padding: 10px 20px;
        border-radius: 5px;
        font-family: arial;
        font-size: 13px;
    }
}
@include keyframes(hide) {
    0%   { opacity: 1; height: 100%; }
    99%  { opacity: 0; height: 100%; }
    100% { opacity: 0; height: 0; }
}
@include keyframes(show) {
    0%   { opacity: 0; height: 100%; }
    100% { opacity: 1; height: 100%; }
}

/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles */
    #splash {
        width: 100%;
        height: 100%;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles */
    #splash {
        width: 100%;
        height: 100%;
    }
}
